<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Yale Dining.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9BCA592C1F44B2A00052A0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BCA59401F44B2A10052A0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BCA597B1F44B85C0052A0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
